In [14]:
import pyodbc
import pandas as pd

## Data Source

In [15]:
# Credenciales 
conn = pyodbc.connect(DRIVER = '{ODBC Driver 17 for SQL Server}',
                      SERVER = 'med000008646',
                      DATABASE = 'BD_STAGE',
                      UID = 'usconsulta',
                      PWD = 'consulta')

In [16]:
#Extraccion del dataset inical 
## maestro de cursos de la oferta formativa 
query1 = """SELECT * FROM [dbo].[DATOS_MAESTRO_DOCENTE]"""

df = pd.read_sql_query(query1,conn)

C:\Users\DIFODS103\AppData\Local\Temp\ipykernel_18280\2876347632.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query1,conn)

In [41]:
df.head()

,PERIODO,DNI,MODULAR_IE,NIVEL_NEXUS,CODIGO_CARGO,DESCRIPCION_CARGO,CODIGO_TIPO_TRABAJADOR,DESCRIPCION_TIPO_TRABAJADOR,CODIGO_SUBTIPO_TRABAJO,DESCRIPCION_SUBTIPO_TRABAJADOR,...,CANT_PROGRAMA_FOCA,CANT_NOTA_APRO_PROGRAMA_FOCA,CANT_NOTA_NO_APRO_PROGRAMA_FOCA,CANT_SIN_NOTA_PROGRAMA_FOCA,CONEXION_PROGRAMA_FOCA_SEG,CANT_CURSOS,CANT_NOTA_APRO_CURSOS,CANT_NOTA_NO_APRO_CURSOS,CANT_SIN_NOTA_CURSOS,CONEXION_CURSOS_SEG
0,2023,41580377,0735720,Primaria,13048,PROFESOR,10,DOCENTE,13,DOCENTE,...,NaN,None,None,None,None,NaN,NaN,NaN,NaN,NaN
1,2023,41581778,0259499,Inicial - Jardín,13048,PROFESOR,10,DOCENTE,13,DOCENTE,...,NaN,None,None,None,None,NaN,NaN,NaN,NaN,NaN
2,2023,41582453,1018167,Secundaria,13048,PROFESOR,10,DOCENTE,13,DOCENTE,...,NaN,None,None,None,None,NaN,NaN,NaN,NaN,NaN
3,2023,41582547,0713065,Secundaria,13048,PROFESOR,10,DOCENTE,13,DOCENTE,...,NaN,None,None,None,None,NaN,NaN,NaN,NaN,NaN
4,2023,41597965,1727551,Primaria,13048,PROFESOR,10,DOCENTE,13,DOCENTE,...,NaN,None,None,None,None,NaN,NaN,NaN,NaN,NaN

In [30]:
print("# de Docentes inscritos en SIFODS: %d "  %df.shape[0])

# de Docentes inscritos en SIFODS: 397220

## EDA

In [78]:
df.columns

Index(['PERIODO', 'DNI', 'MODULAR_IE', 'NIVEL_NEXUS', 'CODIGO_CARGO',
       'DESCRIPCION_CARGO', 'CODIGO_TIPO_TRABAJADOR',
       'DESCRIPCION_TIPO_TRABAJADOR', 'CODIGO_SUBTIPO_TRABAJO',
       'DESCRIPCION_SUBTIPO_TRABAJADOR', 'ESCALA', 'JORNADA_LABORAL',
       'SITUACION_LABORAL', 'ESTADO_PLAZA', 'APELLIDO_PATERNO',
       'APELLIDO_MATERNO', 'NOMBRES', 'TIPO_DOC', 'FECHA_NACIMIENTO', 'SEXO',
       'FECHA_CARGA', 'DESCRIPCION_LEY', 'DESCRIPCION_REGION',
       'NOMBRE_UGEL_DRE', 'CORREO_ELECTRONICO_SIF', 'DIRECCION_SIF',
       'TELEFONO_FIJO_SIF', 'TELEFONO_MOVIL_SIF', 'UBIGEO_NACIMIENTO_SIF',
       'ESTADO_CIVIL_SIF', 'MODALIDAD_SIF', 'CODIGO_MODULAR_SIF',
       'REGIMEN_LABORAL_ACTUAL_SIF', 'TIEMPO_SERVICIO_SIF',
       'TIEMPO_EXPERIENCIA_LABORAL_SIF', 'DISCAPACIDAD_SIF',
       'SEDE_USUARIO_HERIM', 'NIVEL_ESCALE_HERIM', 'DOC_ESPECIALIDAD_HERIM',
       'TIPO_IE_HERIM', 'DRE_HERIM', 'UGEL_HERIM', 'CANT_PROGRAMAS',
       'CANT_NOTA_APRO_PROGRAMA', 'CANT_NOTA_NO_APRO_PROGRAMA',
       'CANT_SIN_NOTA_PROGRAMA', 'CONEXION_PROGRAMA_SEG', 'CANT_PROGRAMA_FOCA',
       'CANT_NOTA_APRO_PROGRAMA_FOCA', 'CANT_NOTA_NO_APRO_PROGRAMA_FOCA',
       'CANT_SIN_NOTA_PROGRAMA_FOCA', 'CONEXION_PROGRAMA_FOCA_SEG',
       'CANT_CURSOS', 'CANT_NOTA_APRO_CURSOS', 'CANT_NOTA_NO_APRO_CURSOS',
       'CANT_SIN_NOTA_CURSOS', 'CONEXION_CURSOS_SEG'],
      dtype='object')

In [67]:
eda_nivelnexus= df.NIVEL_NEXUS.value_counts().to_frame("FREQ").reset_index()
eda_nivelnexus["PORC"] = [round(item / sum(eda_nivelnexus.FREQ),2) for item in eda_nivelnexus.FREQ]
# print(eda_nivel_nexus)
eda_nivelnexus

                       NIVEL_NEXUS    FREQ  PORC
0                       Secundaria  161026  0.41
1                         Primaria  148090  0.37
2                 Inicial - Jardín   55246  0.14
3             Superior Tecnológica    7531  0.02
4      Básica Alternativa-Avanzado    6144  0.02
5               Técnico Productiva    5973  0.02
6            Inicial - Cuna-jardín    4745  0.01
7         Básica Especial-Primaria    2862  0.01
8              Superior Pedagógica    2344  0.01
9   Básica Alternativa-Inicial e I    1484  0.00
10              Superior Artística     676  0.00
11         Básica Especial-Inicial     613  0.00
12                 Básica Especial     342  0.00
13                  Inicial - Cuna      54  0.00
14                  Administración      50  0.00
15  Inicial - Programa no escolari      39  0.00
16             Primaria de Adultos       1  0.00

In [70]:
eda2_cargo = df.DESCRIPCION_TIPO_TRABAJADOR.value_counts()
eda2_cargo

DESCRIPCION_TIPO_TRABAJADOR
DOCENTE    397220
Name: count, dtype: int64

In [57]:
sum(eda_nivelnexus.FREQ)

397220

In [55]:
 range(len(eda_nivelnexus))

range(0, 17)

In [34]:
eda_docentes=str(round(df.NIVEL_NEXUS.value_counts() / len(df),2)) + str%
eda_docentes

SyntaxError: invalid syntax (415725561.py, line 1)

In [20]:

eda1=df.groupby("DNI")["DNI"].count().sort_values(ascending =True).to_frame("CONT")
eda1[eda1['CONT']>1]

          CONT
DNI
00091919     2
18115286     2
45983131     2
42059758     2
03314583     2
...        ...
77051352     7
46139531     7
01296522     7
41273702     7
10693686     7

[5176 rows x 1 columns]